.desc {
    padding-bottom: 24px;
    clear: right;
} .aboutheading {
    padding-bottom: 24px;
    clear: right;
} .aboutus {
    clear:right;
}

.about-accordion {
    cursor: pointer;
    padding-bottom: 24px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    color: #3B57A7;
    background-color: #F7F6F2;
    font-family: "Inter", Helvetica, sans-serif;
}

.about-accordion-body {
    padding-top: 24px;
    display: none;
    overflow: hidden;
    padding-bottom: 24px;
    clear: right;
    color: #3B57A7;
    background-color: #F7F6F2;
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 20px;
}

.td-dollar {
     width: 144px;
     vertical-align: top;
}

.dollar {
    font-size: 30px;
    position:relative;
    width: 100px;
    height: 100px;
    border-color:#A8008F;
    border-style:solid;
    border-radius: 50%;
    text-align: center;
    line-height:100px;
}

.quotes {
    clear:right;
    padding-bottom: 44px;
}

.aboutimg1 {
    width: 569px;
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 2px solid #3B57A7;
    transform: rotate(-1deg);
}

.aboutimg2 {
    width: 569px;
    position:relative;
    display: block;
    border-radius: 20px;
}

.aboutimg3 {
    width: 569px;
    position:relative;
    float: right;
    border-radius: 20px;
    margin-bottom:24px;
    transform:rotate(2deg);
    margin-bottom: 24px;
} 

@media only screen and (max-width: 1030px){
    .aboutimg1 { 
        margin-left: 0px;
        margin-right: 0px;   
        left: 240px;
        right: 10%;
    }
}


@media only screen and (max-width: 900px){
    .aboutimg1 {
        width: 63.2%;
        left: 26.7%;
    }
    .aboutimg2 {
        left: 26.7%;
        width: 63.2%;
    } .aboutimg3 {
        width: 63.2%;
    }
}

@media only screen and (max-width: 600px){
    .td-dollar {
        display: none;
    }
}
