body {
    padding-top: 100px;
}

.contacttext {
    padding-bottom: 24px;
}

a {
    color: #3B57A7;
    transition: 0.2s;
}

a:hover {
    color: #A8008F;
}

.contactimg {
    width: 569px;
    position:relative;
    float: right;
    right: 10%;
    border-radius: 20px;
}

@media screen and (max-width: 900px){
    .contactimg {
        width: 63.2%;
    }
    
}

