.recurring-events-container{
    width: 100%;
    height: fit-content;
    background-color: white;

    box-sizing: border-box;
    padding: 80px;
}

.recurring-events-container li{
    margin: 20px;
} 

/*.future-events-container{
    width: 100%;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding: 80px;
    background-color: #52B6DB;
}*/
.future-events-container {
    padding-bottom:40px;
}
.past-events-container h1{
    font-size: 3.0rem;
    font-weight: 100;
    color: black;
    text-align: center;
} 

@media screen and (max-width: 900px){
    .frooter {
        position:relative;
    }
}
