.landing-picture{
    background-color: white;
    height: 500px;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.landing-picture .landing-image{
    height: 100%;
    width: 100%;
    background-image: url(../assets/images/landing-page.jpeg);
    background-size: cover;
    cursor: default;
}

.landing-image ul{
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 100px;
    list-style-type: none;
    text-align: left;
}

.landing-image a{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: 100;
}
.landing-image h1{
    font-size: 2.0rem;
}

.section-divider{
    height: 700px;
    width: 100%;
    box-sizing: border-box;
}

#description-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-container {
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: center;
}
#description-section img {
    max-width: 45vw;
    height: auto;
    cursor: default;
    object-fit: scale-down;
}

#description {
    background-color: black;
    height: 25vw;
    width: 35vw;
    transform: translateX(-70px);
    position: relative;
    z-index: 1;
    padding-left: 50px;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    box-sizing: border-box;
}

#description h1 {
    font-size: 2vw;
    margin: 0px;
}

#description p {
    font-size: 1vw;
    margin: 0px;
}

#description button {
    background-color: rgba(204, 118, 161, 1);
    font-size: 1vw;
    margin: 0px;
    height: 6vw; 
}

#description button:hover {
    background-color: rgba(204, 118, 161, 0.9);
    cursor: pointer;
}

#tuition-section {
    background-color: #1C52A6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tuition-container {
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: center;
}
#tuition-section img {
    max-width: 40vw;
    height: auto;
    cursor: default;
    object-fit: scale-down;
}

#tuition {
    background-color: white;
    height: 28vw;
    width: 33vw;
    transform: translateX(70px);
    position: relative;
    z-index: 1;
    padding: 20px 40px;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    gap: 30px;
}

#tuition h1 {
    font-size: 2vw;
    margin: 0px;
}

#tuition p {
    font-size: 1vw;
    margin: 0px;
}

#tuition button {
    background-color: rgba(204, 118, 161, 1);
    font-size: 1vw;
    margin: 0px;
}

#tuition button:hover {
    background-color: rgba(204, 118, 161, 0.9);
    cursor: pointer;
}

#impact-section{
    background-color: #4495DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}



#impact-section .quote-section {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    gap: 50px;
}

#posts-section {
    background-color: white;
}

@media only screen and (max-width: 800px){
    .description-container, .tuition-container{
        flex-direction: column;
    }
    #description-section img, #tuition-section img {
        max-width: 50vw;
    }
    #description, #tuition {
        height: 40vw;
        width: 50vw;
        gap: 5px;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    #description h1, #tuition h1{
        font-size: 3vw;
    }
    #description p, #tuition p{
        font-size: 1.5vw;
    }
    #description button, #tuition button{
        width: 20vw;
        height: 10vw; 
        font-size: 2vw;
    }
}

@media only screen and (max-width: 900px) {
    #impact-section {
        height: fit-content;
        padding: 30px;
    }
    #impact-section .quote-section{
        flex-direction: column;
        height: auto;
        width: 70%;
        gap: 10px;
    }
}

@media only screen and (max-width: 550px) {
    .landing-picture h1{
        width: fit-content;
        font-size: 1.3rem;
    }
    .landing-image ul{
        left: 40px;
    }
    .landing-image li {
        display: flex;
    }
}

