body {
    padding-top: 100px;
}
.img1 {
    width: 569px;
    position:relative;
    left: 240px;
    border-radius: 20px;
    border: 2px solid #3B57A7;
    transform: rotate(1deg);
}

.img2 {
    width: 569px;
    position:relative;
    float: right;
    right: 10%;
    border-radius: 20px;
    transform: rotate(-1.8deg);
    border: 2px solid #3B57A7;
}
.blurb {
    clear: right;
    padding:10px;
    padding-left:240px;
    padding-right:10%;
    padding-bottom: 24px;
    font-size:20px;
    line-height:24px;
} a {
    color:#A8008F;
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    .img1 {
        left: 26.7%;
        width: 63.2%;
    }
    .img2 {
        width: 63.2%;
    }
    .blurb {
        padding-left: 26.7%;
    } 
} 
