.publications-container{
    /*width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px;
    box-sizing: border-box;*/
    clear:right;
    padding-top: 24px;
}

.pubs-image {
    width: 569px;
    position:relative;
    float: right;
    border-radius: 20px;
    right: 10%;
    border: 2px solid #3B57A7;
    transform: rotate(2deg);
}

@media only screen and (max-width: 900px){
    .pubs-image {
        width: 63.2%;
    }
}
