.logo {
    z-index: 100;
    padding-left: 10px; 
    position: fixed;
    float: left;
    top: 0px;
    left:10px;
    width:150px;
} 

.menu {
    z-index: 2;
    height: 60px;
    /*padding-left: 240px;*/
    position:fixed;
    top:-20px;
    width: 100%;
    align-items:right;
   /* box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;*/
}
.icon-holder {
    display: none;
}
hr {
    margin-top: 0px;
    z-index: 3;
    height: 2px;
    background-color:#3B57A7;
    border:none;
    margin-left: 240px;
}


@media screen and (max-width: 900px){
    .logo {
        width:16.7vw;
        left: 2.2%;
    }
    hr {
        margin-left: 26.7%;
    }
}

@media only screen and (max-width: 712px) {
    .sidebar {
        display: none;
    } 
}

@media only screen and (max-width: 500px) {
    hr{
        margin-left:0;
    } 
}
