 .event-card {
    padding-top: 24px;
    display: inline-block;
    vertical-align: top;
 }.event-desc { 
    display:inline-block;
    vertical-align: top;
    padding-left: 20px;
    width: calc(100% - 300px);
} .event-title {
    text-decoration:underline;
}.event-desc-text {
    padding-top:24px;
}.event-img {
    width: 280px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
} 
/*.event-card{
    width: 80vw;
    height: fit-content;
    padding: 40px 60px;
    margin: 40px;
    box-sizing: border-box;

    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
} */

@media screen and (max-width: 900px){
    .event-img {
        /*width:49%;*/
    }
    .event-desc { 
        display:block;
        width: 100%;
        padding-left:0px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 500px){
    .event-img {
        /*width:49%;*/
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .event-desc { 
        display:block;
        width: 100%;
        padding-left:0px;
        padding-top: 10px;
    }
}