.image-title-container{
    width: 100%;
    height: 500px;

    background-size: cover;
    background-position: 20% 35%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-title-container h1{
    font-size: 4.5rem;
    color: black;
    text-shadow: -1px 1px 0 #FFF,
				  1px 1px 0 #FFF,
				 1px -1px 0 #FFF,
				-1px -1px 0 #FFF;
}

