.footer-links {
    margin-right: 30px;
    font-size: 1.2rem;
}

.footer-links ul{
    list-style-type: none;
    display: flex;
    gap: 35px;
}

.footer-links li{
    height: fit-content;
    width: fit-content;
}

.footer-links .default-item{
    display: inline-block;
    position: relative;
}

.footer-links a {
    color: #3B57A7;
    transition: 0.2s;
    font-weight: 500;
    font-size: 15px;
}

.footer-links a:hover {
    color: #A8008F;
}
/*.footer-links .default-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3B57A7;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.footer-links .default-item:hover:after{
   transform: scaleX(0);
   transform-origin: bottom left;
 }*/


@media only screen and (max-width: 650px){
    .footer-links ul{
        font-size: 0.6em;
        gap: 20px;
        flex-direction: column;
        padding-bottom: 10px;
    } .footer-links li {
        height: 10px;
    }
}
