html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

#root{
  font-family: "JetBrains Mono";
  contain: paint;
  min-height: 100vh;
  
  background-color: #52b6db;
}

h1, h2, p{
  margin: 0px;
}
